@{
  Layout = "_Layout";
}

<h1>Cities Page</h1>

<h3>City Name: @Model.CityName</h3>
<p>Population: @Model.Population</p>


<a href="/countries/">View all countries</a>
<a href="/cities/">View all cities</a>
